body {
    background-color: white;
}
.wapper {
    width: 1280px;
    min-height: 990px;
    margin: 0 auto;
    background-color: white;
}
.logo {
    height: 90px;
    width: 100%;
    position: relative;
}
.logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    height: 820px;
    width: 100%;
    display: flex;
}
.block {
    height: 400px;
    width: 250px;
    background-color: #b1b1b1;
    margin-right: 5px;
    position: relative;
    border-radius: 5px;
    transition: all 0.5s;
}
.block img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 89%;
    transition: all 0.5s;
}
}
.item1 {
    margin-left: 5px;
}
.content{
    text-align: center;
    width: 215px;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: sans-serif;
    font-weight: lighter;
    color: white;
    line-height: 1.1;
    transition: all 0.7s;
}
.content p:last-child {
    margin-top: 5px;
    line-height: 1.1;
    font-weight: bold;
    font-size: 16px;
}
.block:hover img {
    top: 34%;
    width: 85%;
}
.block:hover p:first-child {
    display: none;
}
.block:hover .content {
    top: 73%;
}