* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #363636;
    line-height: 1.3;
}
img {
    max-width: 100%;
}
a {
    color: #363636;
    text-decoration: none;
}
.wrapper {
    padding: 0 15px;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}
.banner {
    margin-top: 5px;
    width: 100%;
    height: 500px;
    background: url(img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}
.nav__list {
    margin-top: 10px;
}
.nav__item {
    display: inline-block;
}
.nav__link {
    display: block;
    padding: 10px 20px;
    transition: all 0.3s;
}
.nav__link:hover {
    color: #b83b5e;
}
.textActive {
    color: #b83b5e;
    cursor: context-menu;
}
.avatar {
    width: 300px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 450px;
    left: 200px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(126, 126, 126, 0.719);
}
.name__pharagraph {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 35px;
    top: 480px;
    left: 530px;
}
.introduce {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introduce__text {
    max-width: 600px;
}
.introduce__text-block,
.skill__text-block,
.info__blockHeading {
    width: 300px;
    height: 50px;
    background-color: #363636;
    margin-bottom: 10px;
    border-radius: 10px;
}
.introduce__text-heading2,
.skill__text-heading2,
.info__heading  {
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    line-height: 52px;
    text-align: center;
}
.introduce__text-pharagraph {
    margin: 20px 0;
}
.introduce__img {
    border-radius: 10px;
    overflow: hidden;
    width: 424px;
    height: 280px;
}
.skill {
    width: 100%;
    margin: 20px 0;
}
.skill__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ebebeb;
    margin: 20px 0;
    min-height: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.skill__textBlock {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(126, 126, 126, 0.719);
}
.skill__headingBlock {
    align-self: flex-start;
}
.skill__textBlock-pharagraph {
    position: absolute;
    top: 90px;
    left: 50px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}
.skill__block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}
.percent {
    width: 200px;
    height: 15px;
    background-color: #363636;
    box-shadow: 0 0 5px rgba(126, 126, 126, 0.719);
    border-radius: 25px;
    overflow: hidden;
}
.percent__active {
    height: 100%;
    background-color: #b83b5e;
}
.percent__active-html5 {
    width: 90%;
}
.percent__active-js {
    width: 70%;
}
.percent__active-angular {
    width: 80%;
}
.percent__active-nodejs {
    width: 50%;
}
.percent__active-pts {
    width: 60%;
}
.percent__active-react {
    width: 80%;
}
.info {
    margin: 25px 0;
}
.info__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
}
.info__birthday,
.info_phoneNumber,
.info__adress,
.info__university {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #ebebeb ;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
}
.info__birthday,
.info_phoneNumber {
    width: 45%;
}

.fa-birthday-cake:before,
.fa-phone:before,
.fa-map-marker:before,
.fa-university:before {
    font-size: 25px;
    color: #fff;
}
#fa {
    margin: 0 5px;
    height: 50px;
    width: 50px;
    line-height: 60px;
    text-align: center;
    background-color: #b83b5e;
    border-radius: 50%;
}
.info__pharagraph {
    color: #363636;
    font-size: 20px;
}
.footer {
    padding: 10px 0;
    text-align: center;
}
.footer__pharagraph {
    font-size: 25px;
    margin-bottom: 50px;
}
.footer__icon .fa {
    margin: 0 10px;
    font-size: 50px;
    transition: all 0.3s;
}
.footer__icon-link:hover .fa {
    color: #b83b5e;
}