* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #95a5a6;
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
}
li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#container {
    width: 1000px;
    min-height: 1500px;
    margin: auto;
    background-color: white;
}

#container__left {
    background-color: #2980b9;
    width: 300px;
    min-height: 1490px;
    margin: 5px 0px 5px 5px;
    float: left;
    border-radius: 5px;
}

#container__right {
    background-color: #ecf0f1;
    width: 687px;
    min-height: 1490px;
    margin: 5px 5px 5px 3px;
    float: right;
    border-radius: 5px;
}
#avatar {
    width: 300px;
    height: 300px;
    position: relative;
}

#avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#info,
#contact,
#english,
#it {
    color: white;
    margin-left: 25px;
    min-height: 300px;
}
#contact h2,
#info h2,
#english h2,
#it h2 {
    text-align: center;
    border: 2px solid white;
    margin: 0px 20px 15px 0px;
    padding-top: 2px;
}




.fa{
    display: inline;
    width: 20px;
    margin-right: 10px;
}
#name {
    height: 290px;
}
#name h1 {
    text-align: center;
    font-size: 40px;
    color: #2980b9;
    padding-top: 130px;  
}
#name p {
    text-align: center;
    color: #95a5a6;
    font-size: 25px;
}
#target,
#education,
#experience,
#skill {
    min-height: 250px;
    margin-left: 50px;
}
#target h2,
#education h2,
#experience h2,
#skill h2 {
    text-align: center;
    border: 2px solid #2980b9;
    color: #2980b9;
    margin: 0px 25px 20px 0px;
}
#experience {
    height: 460px !important;
}