* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
image {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
}
body {
    background: #ffffff;
}
.container {
    width: 350px;
    height: 600px;
    background: linear-gradient(180deg, rgba(207,127,242,1) 0%, rgba(143,111,220,1) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    padding: 25px 0;
    box-shadow: 0 0 5px rgb(114, 114, 114);
}
.info__date {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    padding: 25px 20px;
    transition: all 0.5s;
}
.info__date--date {
    font-size: 45px;
    margin-right: 5px;
}
.info__date--dayMonthYear {
    margin-right: 140px;
}
.info__date--icon {
    cursor: pointer;
    font-size: 30px;
}
.sevenDay {
    margin-top: 10px;
    color: #ffffff;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}
.sevenDay__day--day {
    text-transform: uppercase;
    text-align: center;
}
.sevenDay__day--date {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    cursor: pointer;
}
.active {
    background-color: #fff;
    color: rgba(207,127,242,1);
}
.todosList {
    background: #fff;
    width: 100%;
    height: 445px;
    position: relative;
}
.btAdd {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    color: #fff;
    font-size: 20px;
    background-color: rgba(207,127,242,1);
    border: none;
    cursor: pointer;
    outline: none;
}