* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #343b57;
}
a {
    text-decoration: none;
}
.wapper {
    max-width: 1360px;
    margin: 0 auto;
}
.header {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-text,
.logo-text-spec {
    font-family: 'Pacifico';
    font-size: 55px;
    
}
.logo-text-spec {
    color: #fa8267;
}
.logo-text {
    margin-left: 25px;
}
.search-input::placeholder {
    color: #fff;
}
.header__search {
    border-radius: 30px;
    height: 30px;
    background-color: #343b57;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.search-button {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    transition: all 0.2s;
}
.header__search:hover .search-input {
    width: 200px;
}
.header__search:hover .search-button {
    background-color: #fa8267;
    border-radius: 50%;
}
.header__search:hover .fa-search:before {
    color: #fff;
}
.search-input {
    color: #fff;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    width: 0px;
    transition: all 0.7s;
}
.fa-search:before {
    color: #fa8267;
    float: right;
    transition: all 0.7s;
}
.menu-banner {
    display: flex;
    height: 700px;
    border-radius: 5px;
}
.menu {
    height: 700px;
    width: 200px;
    background-color: #ebebeb;
    border-radius: 5px;
}
.banner {
    margin-left: 10px;
    height: 700px;
    border-radius: 5px;
    width: calc(100% - 200px);
    background-image: url(./img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: banner 60s  infinite ;
    animation-delay: 5s;
}
.menu__list {
    margin-top: 10px;
}
.menu__list1 {
    margin-top: 270px;
    margin-left: 5px;
}
.menu__item {
    padding: 20px 0px;
    text-align: center;
}
.menu__item1 {
    padding: 5px 0px;
    text-align: left;
    margin-left: 10px;
}
.menu__link {
    transition: all 0.7s;
}
.menu__link:hover {
    color: #fa8267;
}
.banner__text {
    max-width: 550px;
    margin: 140px 0 0 70px;
    font-size: 50px;
    line-height: 1.2;
}
.text-paragraph,
.heading-spec {
    color: #fa8267;
}
.text.heading {
    margin-bottom: 50px;
}
.text-link {
    font-size: 25px;
    padding: 10px 20px;
    background-color: #343b57;
    color: #fff;
    border-radius: 25px;
    transition: all 0.7s;
}
.text-link:hover {
    background-color: #fa8267;
}
.fa {
    margin-right: 5px;
}
@keyframes banner {
    0%   {background-image: url(./img/banner.jpg);}
    33%  {background-image: url(./img/banner1.jpg);}
    66%  {background-image: url(./img/banner2.jpg);}
    100% {background-image: url(./img/banner.jpg);}
}

.ability {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ability__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 330px;
    width: 220px;
    padding: 0 25px;
    box-shadow: 0 0 50px 0px rgba(59, 59, 59, 0.274);
    border-radius: 5px;
}
.ability__block .fa {
    height: 55px;
    width: 55px;
    margin-bottom: 40px;
}
.fa-pencil:before,
.fa-briefcase:before,
.fa-pencil-square-o:before,
.fa-laptop:before {
    font-size: 55px;
    color: #fa8267;
}
.ability-heading {
    font-size: 20px;
    margin-bottom: 40px;
}
.project__imgIntro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 580px;
}
.project__imgIntro-img {
    height: 650px;
}
.project__imgIntro-textIntro {
    height: 680px;
}