* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #343b57;
    line-height: 1.3;
}
body {
    background-color: #fafafa;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
.wapper {
    padding: 0 15px;
    max-width: 1360px;
    margin: 0 auto;
}
.header {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-text,
.logo-text-spec {
    font-family: 'Pacifico';
    font-size: 55px;
    
}
.logo-text-spec {
    color: #fa8267;
}
.logo-text {
    margin-left: 25px;
}
.search-input::placeholder {
    color: #fff;
}
.header__search {
    border-radius: 30px;
    height: 30px;
    background-color: #343b57;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.search-button {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    transition: all 0.2s;
}
.header__search:hover .search-input {
    width: 200px;
}
.header__search:hover .search-button {
    background-color: #fa8267;
    border-radius: 50%;
}
.header__search:hover .fa-search:before {
    color: #fff;
}
.search-input {
    color: #fff;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    width: 0px;
    transition: all 0.7s;
}
.fa-search:before {
    color: #fa8267;
    float: right;
    transition: all 0.7s;
}
.menu-banner {
    display: flex;
    height: 700px;
    border-radius: 5px;
}
.menu {
    height: 700px;
    width: 200px;
    background-color: #ebebeb;
    border-radius: 5px;
}
.banner {
    margin-left: 10px;
    height: 700px;
    border-radius: 5px;
    width: calc(100% - 200px);
    background-image: url(./img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: banner 60s  infinite ;
    animation-delay: 5s;
}
.menu__list {
    margin-top: 10px;
}
.menu__list1 {
    margin-top: 230px;
    margin-left: 5px;
}
.menu__item {
    padding: 20px 0px;
    text-align: center;
}
.menu__item1 {
    padding: 5px 0px;
    text-align: left;
    margin-left: 10px;
}
.menu__link {
    transition: all 0.3s;
}
.menu__link:hover {
    color: #fa8267;
}
.banner__text {
    max-width: 550px;
    margin: 140px 0 0 70px;
    font-size: 50px;
    line-height: 1.2;
}
.text-paragraph,
.heading-spec {
    color: #fa8267;
}
.text.heading {
    margin-bottom: 50px;
}
.text-link {
    font-size: 25px;
    padding: 10px 20px;
    background-color: #343b57;
    color: #fff;
    border-radius: 25px;
    transition: all 0.3s;
}
.text-link:hover {
    background-color: #fa8267;
}
.fa {
    margin-right: 5px;
}
@keyframes banner {
    0%   {background-image: url(./img/banner.jpg);}
    33%  {background-image: url(./img/banner1.jpg);}
    66%  {background-image: url(./img/banner2.jpg);}
    100% {background-image: url(./img/banner.jpg);}
}

.ability {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ability__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 330px;
    width: 220px;
    padding: 0 25px;
    box-shadow: 0 5px 20px rgba(59, 59, 59, 0.274);
    border-radius: 5px;
}
.ability__block .fa {
    height: 55px;
    width: 55px;
    margin-bottom: 40px;
}
.fa-pencil:before,
.fa-briefcase:before,
.fa-pencil-square-o:before,
.fa-laptop:before {
    font-size: 55px;
    color: #fa8267;
}
.ability-heading {
    font-size: 20px;
    margin-bottom: 40px;
}
.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project__imgIntro {
    padding-top: 70px;
    height: 580px;
    width: 665px;
    position: relative;
    background-color: #ebeaef ;
    box-shadow: 0 5px 20px rgba(59, 59, 59, 0.274);
}
.project__imgIntro-img {
    box-shadow: 0px 5px 20px rgba(63, 63, 63, 0.602);
    margin: auto;
    width: 570px;
    height: 425px;
}
.project__imgIntro-textIntro {
    position: absolute;
    background-color: #ffffff;
    top: calc(100% - 155px);
    width: 665px;
    height: 155px;
    text-align: center;
}
.textIntro-heading {
    font-size: 25px;
    margin: 55px 0 25px 0;
}
.project__text {
    width: 470px;
}
.project__text-heading {
    font-size: 35px;
    margin-bottom: 55px;
}
.project__text-pharagraph {
    line-height: 2;
    margin-bottom: 75px;
}
.project__text-link {
    background-color: #fa8267;
    padding: 25px 20px;
}
.fa-arrow-right {
    margin-left: 20px;
}
.skills__icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 170px;
}
.skills__icon-icon {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(63, 63, 63, 0.602) ;
    overflow: hidden;
    position: relative;
}
.skills__icon-pharagraph {
    position: absolute;
    transform: translate(-50%, 0);
    top: calc(100% - 18px);
    left: 50%;
    font-size: 12px;
    color: #fa8267;
}
.skills__heading {
    font-size: 25px;
    text-align: center;
}
.skills {
    margin: 100px 0;
    background-color: #ecedf1;
    padding: 40px 0;
}
.footer {
    padding: 50px 0;
    text-align: center;
}
.footer__pharagraph {
    font-size: 25px;
    margin-bottom: 50px;
}
.footer__icon .fa {
    margin: 0 10px;
    font-size: 50px;
    transition: all 0.3s;
}
.footer__icon-link:hover .fa {
    color: #fa8267;
}
.goTop {
    line-height: 50px;
    text-align: center;
    background-color: #fa8267;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    
}
.goTop > a {
    color: #fff;
}