* {
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
    font-family: sans-serif !important;
    text-decoration: none;
    list-style-type: none;
}
.wapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  background: url(https://pvthang1609.github.io/basicWeb/lesson6b-position/img/background1.jpg);
}
.menu {
    background-color: rgba(0, 0, 0, 0.87);;
    width: 300px;
    z-index: 1;
    position: absolute;
    height: 550px;
}
.content {
    width: 100%;
    position: relative;
    height: 1000px;
}
.menu__logo-img {
    margin: 50px 50px;
    width: 200px;
}
.menu__list {
    text-transform: uppercase;
    text-align: center;
}
.menu__link {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.menu__item {
    
    border-bottom: 1px solid white;
    padding: 15px;
    position: relative;
}
.menu__link:before {
    content: "";
    width: 10px;
    height: 100%;
    background-color: #ffc901;
    position: absolute;
    top: 0;
    left: 0px;
    opacity: 0;
}
.menu__link:hover:before {
    opacity: 1;
}
.menu__link:hover{
    color: #ffc901;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15) ;
}
.header__icon {
    margin-left: 310px;
}
.searchBar {
    padding: 15px;
}
.searchBar-search {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.fa-search,
.fa-bars {
    color: white;
    padding: 15px;
}

.header__logo-img {
    width: 150px;
}
.content__banner {
    position: absolute;
    top: 0px;
    left: 0px;
}
.content__right {
    font-family: sans-serif;
    color: white;
    float: right;
    max-width: 580px;
    height: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-right: 50px;
    text-align: right;
    text-transform: uppercase;
}
.content__heading {
    font-size: 50px;
}
.content__right div > a{
    color: #ffc901;
}
.content__right > img {
    width: 350px;
}

.content__right > p {
    font-size: 35px;
}
.content__right > p > span {
    color:#ffc901;
}

.onTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.fa-arrow-circle-up {
    color: #ffc901;
}
.wapper1 {
    padding-top: 50px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: url(https://pvthang1609.github.io/basicWeb/lesson6b-position/img/background1.jpg);
    align-items: center;
}
.img-row1 {
    border-radius: 5px;
    width: 710px;
    margin-bottom: 5px;
}
.img-row2 {
    border-radius: 5px;
    width: 470px;
}
.footer {
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.footer > a {
    font-weight: 600;
    color: black;
    border: 1px solid black;
    padding: 15px 20px;
    border-radius: 5px;
}